<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Request blocked</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <style>
      {{ .SharedStyle }}
    </style>
  </head>
  <body>
    <div class="wrap">
      <div class="card">
        <h1>Blocked by Zen</h1>
        <p><strong>URL:</strong> <code id="url"></code></p>
        {{ if .Rule }}
        <p><strong>Rule:</strong> <code>{{ .Rule }}</code></p>
        {{ end }} {{ if .FilterList }}
        <p><strong>Filter list:</strong> {{ .FilterList }}</p>
        {{ end }}

        <div class="actions">
          <a id="allowLink" class="btn" onclick="allow()">Allow</a>
          <a class="btn secondary" onclick="window.history.back()">Go back</a>
        </div>
      </div>
    </div>
    <script>
      document.getElementById('url').textContent = window.location.toString();

      const rule = '{{ .Rule }}';
      const returnTo = encodeURIComponent(location.href);

      document.getElementById(
        'allowLink'
      ).href = `http://127.0.0.1:{{ .WhitelistPort }}/allow-rule?rule=${encodeURIComponent(
        rule
      )}&returnTo=${returnTo}`;
    </script>
  </body>
</html>
